.inline{
    display: inline;
}



@media (min-width:960px) {
    .input{
        width: 60%;
        margin-bottom: 15px !important;
        background: #F2F3F7;
        color: #6a6a6a;
        font-size: 1.5rem;
    }
    textarea{
        font-size: 1.3rem;
        width: 60%;
        height: 10rem;
        margin-bottom: 3rem;
        border: 1px solid #6a6a6a;
        background: #F2F3F7;
        color: #6a6a6a;
        padding-left: 0.5em;
    }
    
    
    .contact-page{
        padding-top: 4em;
        padding-bottom: 9em;
        clear: both;
        width: 100%;
        transition: all 2s ease-in;
    }
    
    .narrow-contant{
        padding: 0 3.3em;
        font-size: 0.9rem;
    }
    
    
    .heading span{
        font-size: .7rem;
        padding-bottom: 10px;
        letter-spacing: 0.5rem;
        color: #999999;
    }
    
    .heading h3{
        margin-top: 2rem;
    
    }
    
    
    .contact-container{
        height: 100%;
        width: auto;
        display: flex;
    
    }
    
    .contact-detail{
        height: 100%;
        width: 80%;
    }
    
    .massage-container{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }
    
    
    .contact-container .margin-bottom{
        margin-bottom: 6rem;
        display: inline-block;
    }
    
    .contact-container .icon{
        background: #F2F3F7;
        display: inline-block;
        padding: 19px;
        color: skyblue;
    }
    
    .contact-container .contact-detail span{
        margin-left: 1.4rem;
        font-size: 1.1em;
        line-height: 1em;
        height: 10px;
    }
    
    .contact-container .contact-detail .info{
        color: skyblue;
    }
    
}


